*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  -webkit-user-drag: none;
}

body {
  background-color: #101010;
  margin: 0;
  align-items: center;
  min-height: 100vh;
}

.interface{
  max-width: 100%;
  margin: 0 auto;
}

header {
  background-color: black;
  width: 100%;
  padding: 5px;
}

header .interface{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo img{
  max-width: 140px;
}

header .menu-desktop nav ul{
  list-style-type: none;
}

header .menu-desktop nav ul li{
  display: inline-block;
  margin: 0 40px;
}

header .menu-desktop nav ul li a{
  color: white;
  text-decoration: none;
}

header .lupa img{
  margin: 10px 20px 0 0;
  max-width: 30px;
  cursor: pointer;
}

.chamada {
  display: flex;
  justify-content: center;
}

#video-container {
  position: relative;
  width: 100%;
  padding-bottom: 41.95%; /* 605px / 1440px = 0.4195 */
  overflow: hidden;
}

.BannerPrincipal{
  position: absolute;
  align-items: center;
  z-index: 1;
  width: 550px;
  top: 30%;
  left: 0;
  transform: translateY(-30%);
}

#background{
  max-width: 330px;
}

.BannerPrincipal h4{
  padding-left: 25px;
  color: rgb(255, 255, 255, 0.5);
  font-weight: 500;
}

.BannerPrincipal h4 span{
  padding: 0 10px;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.BannerPrincipal h4 span:first-child{
  padding-left: 0;
}

.BannerPrincipal h4 span:last-child{
  border-right: none;
}

.BannerPrincipal h4 span i{
  background-color: red;
  color: #fff;
  padding: 0 8px;
  display: inline-block;
  font-style: normal;
  border-radius: 2px;
}

.BannerPrincipal p{
  padding-left: 25px;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5em;
  color: #fff;
  margin: 10px 0 20px;
}

.BannerPrincipal .buttons{
  padding-left: 25px;
  position: relative;
}

.BannerPrincipal .buttons a{
  position: relative;
  display: inline-block;
  margin-right: 10px;
  background-color: red;
  color: #fff;
  padding: 6px 20px;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.BannerPrincipal .buttons a:nth-child(2){
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.BannerPrincipal .buttons a:hover:nth-child(2){
  background-color: red;
}

#thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
  cursor: pointer; /* Adiciona cursor de mão para indicar clicabilidade */
}

#myVideo {
  position: relative;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: none; /* O vídeo começa escondido */
}

#close {
  top: 5px;
  right: 10px;
  position: absolute;
  align-items: end;
  width: 40px;
  cursor: pointer;
  z-index: 3;
  display: none;
}

/* Rotação dos filmes: */

.Popular {
  left: 0;
  top: 0;
  position: relative;
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.categoria-videos {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  user-select: none;
  gap: 10px;
}

.categoria-videos::-webkit-scrollbar { /* Codigo novo que descobri */
  display: none; /* Esconde a barra de rolagem */
}

.categoria {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;
}

.categoria-videos img {
  width: 170px;
  height: 250px;
  opacity: 0.8;
  cursor: pointer;
}

.categoria-videos img:hover {
  opacity: 1.0;
  border: 3px solid white;
}

.categoria h2 {
  position: relative;
  color: #fff;
  font-size: 22px;
  font-weight: 600;
}

.categoria-videos2 {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  user-select: none;
  gap: 10px;
}

.categoria-videos2::-webkit-scrollbar { /* Codigo novo que descobri */
  display: none; /* Esconde a barra de rolagem */
}

.categoria2 {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;
}

.categoria-videos2 img {
  width: 170px;
  height: 250px;
  opacity: 0.8;
  cursor: pointer;
}

.arrowleft-button, .arrowleft-button2{
  z-index: 3;
  width: 50px;
  margin-top: 100px;
  opacity: 0.3;
  left: 2px;
  position: absolute;
  align-items: center;
  user-select: none;
  display: none;
}

.arrowright-button, .arrowright-button2{
  z-index: 3;
  width: 50px;
  margin-top: 100px;
  opacity: 0.3;
  right: 2px;
  position: absolute;
  align-items: center;
  user-select: none;
  display: none;
}

.categoria-videos2 img:hover {
  opacity: 1.0;
  border: 3px solid white;
}

.categoria2 h2 {
  position: relative;
  color: #fff;
  font-size: 22px;
  font-weight: 600;
}

/* popup filmes*/
.background_popup {
  background-color: rgba(0, 0, 0, 0.647);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
}

.popup {
  background-color: rgb(15, 15, 15);
  position: fixed;
  z-index: 1000;
  width: 70%;
  height: 94%;
  top: 50%;
  left: 50%;
  border-radius: 20px 20px 0 0;
  transform: translate(-50%, -50%);
  overflow-y: auto; 
}

.popup::-webkit-scrollbar { /* Codigo novo que descobri */
  display: none; /* Esconde a barra de rolagem */
}

.popup video {
  width: 100%;
  align-self: center;
}

#filmName {
  color: white;
  margin-top: 10px;
  margin-left: 20px;
}

.popup h5 {
  margin-top: 8px;
  margin-left: 20px;
  color: white;
  font-weight: 400;
}

.popup span {
  padding: 0 10px 0 0;
}

.popup span i {
  background-color: red;
  padding: 1px;
  border-radius: 2px;
  display: inline-block;
  font-style: normal;
}

.popup button {
  margin-left: 2%;
  width: 96%;
  border-radius: 12px;
  margin-top: 20px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.popup button img {
  height: 20px;
  margin-right: 15px;
}

.popup button span {
  color: black;
  text-align: center;
  font-size: 20px;
  font-style: normal;
}

.popup h3 {
  color: white;
  margin: 20px 0 0 20px;
  font-weight: 350;
  font-style: normal;
  font-size: 17px;
}

.voltar {
  margin: 8px 0 0 10px;
  top: 0;
  left: 0;
  width: 40px;
  position: relative;
  cursor: pointer;
}

@media(max-width: 808px){
  .arrowleft-button, .arrowleft-button2, .arrowright-button, .arrowright-button2{
    display: block;
  }
}